<script>
import ChevronLg from '~/static/nuxt-images/ico/chevron-lg.vue';
import SlpIconsCalendar from '~/components/ten/calendar.vue';

export default {
  name: 'SlpEventCard',
  components: {
    ChevronLg,
    SlpIconsCalendar,
  },
  props: {
    heading: {
      type: String,
      default: null,
      required: false,
    },
    body: {
      type: String,
      default: null,
      required: false,
    },
    icon: {
      type: String,
      default: null,
      required: false,
    },
    date: {
      type: String,
      default: null,
      required: false,
    },
    eventType: {
      type: String,
      default: null,
      required: false,
    },
    cta: {
      type: String,
      default: null,
      required: false,
    },
    destinationUrl: {
      type: String,
      default: null,
      required: false,
    },
  },
};
</script>

<template>
  <a :href="destinationUrl" class="card">
    <div class="card__wrapper">
      <div class="card__inner">
        <SlpTypography tag="p" variant="all-caps">{{
          eventType
        }}</SlpTypography>
        <SlpTypography tag="p" variant="body3" class="date">{{
          date
        }}</SlpTypography>
        <SlpTypography tag="h4" variant="heading4">{{ heading }}</SlpTypography>
        <span>Event Details <ChevronLg direction="right" /></span>
      </div>
      <div class="card__icon">
        <SlpIconsCalendar />
      </div>
    </div>
  </a>
</template>

<style lang="scss" scoped>
.card {
  color: $color-text-300;
  cursor: pointer;
  margin-bottom: 48px;
  width: 100%;
  &:focus,
  &:hover {
    .card__icon {
      background: #7d2bd9;
      svg {
        fill: #fff;
        stroke: #fff;
      }
    }
  }

  @media (min-width: $breakpoint-lg) {
    width: 30%;
  }
}

.card__wrapper {
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 100%;
  position: relative;
  transition: all 0.3s ease-in-out;
  &:focus,
  &:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);

    h3 {
      color: $color-secondary-200;
    }
  }
}

.card__inner {
  padding: 24px 32px 32px 32px;
  position: relative;
  .date {
    color: $color-text-300;
  }

  h3 {
    color: $color-text-300;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 24px;
  }

  span {
    color: #7d2bd9;
    font-size: 14px;
  }
}

.card__icon {
  align-items: center;
  background: #f2f2f2;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  left: 32px;
  padding: 5px;
  position: absolute;
  transform: translate(0, -50%);
  transition: 0.3s ease-in-out all;
  width: 40px;
  svg {
    fill: #7d2bd9;
    stroke: #7d2bd9;
  }
}
</style>
