<script>
export default {
  props: ['title', 'content'], // eslint-disable-line vue/require-prop-types
  data() {
    return {
      isOpen: false,
    };
  },
  computed: {
    control() {
      if (this.isOpen === false) {
        return '<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 3C7.44772 3 7 3.44772 7 4V7L4 7C3.44772 7 3 7.44771 3 8C3 8.55228 3.44772 9 4 9H7V12C7 12.5523 7.44772 13 8 13C8.55228 13 9 12.5523 9 12V9H12C12.5523 9 13 8.55228 13 8C13 7.44772 12.5523 7 12 7L9 7V4C9 3.44772 8.55228 3 8 3Z" fill="currentColor"></path></svg>';
      }
      return '<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 8C2 7.44772 2.44772 7 3 7H13C13.5523 7 14 7.44772 14 8C14 8.55228 13.5523 9 13 9H3C2.44772 9 2 8.55228 2 8Z" fill="currentColor"></path></svg>';
    },
  },
  methods: {
    toggleAccordion() {
      this.isOpen = !this.isOpen;
    },
  },
};
</script>

<template>
  <details class="accordion" @click="toggleAccordion">
    <summary>
      <slot name="title"></slot>
      <span v-html="control"></span>
    </summary>
    <div class="content-container">
      <slot name="content"></slot>
    </div>
  </details>
</template>

<style lang="scss" scoped>
details.accordion {
  background: $color-surface-50;
  border: 1px solid #828282;
  border-top: 0 solid #828282;
  color: $color-text-300;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  text-align: left;

  &:first-of-type {
    border-radius: 3px 3px 0 0;
    border-top-width: 1px;
  }

  summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-16;
    font-size: 23px;
  }

  span {
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: $spacing-8;
  }

  .content-container {
    background: $color-surface-200;
    text-align: left;
    padding: $spacing-32 $spacing-32 $spacing-32 $spacing-16;
    font-size: 16px;
  }
}
</style>
