<script lang="ts">
import Vue from 'vue';
import SlpContainer from '~/components/container.vue';
import SlpRow from '~/components/row.vue';
import SlpColumn from '~/components/column.vue';

export default Vue.extend({
  name: 'LearnCourse',
  components: { SlpColumn, SlpRow, SlpContainer },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  computed: {
    orderedCourses() {
      const resources = Array.isArray(this.data.courses)
        ? [...this.data.courses]
        : [];

      return resources.sort((a: any, b: any) => {
        if (a.name < b.name) {
          return -1;
        }
        if (a.name > b.name) {
          return 1;
        }
        return 0;
      });
    },
  },
});
</script>

<template>
  <SlpContainer>
    <SlpRow>
      <SlpColumn
        v-for="resource in orderedCourses"
        :key="resource.name"
        :cols="data.column_size"
      >
        <div class="resource">
          <div class="resource__content slp-card">
            <div class="resource__link">
              <a :href="resource.url">
                <h4>{{ resource.name }}</h4>
              </a>
            </div>
            <p class="slp-text-base slp-mb-24">{{ resource.description }}</p>
            <ul
              class="resource__meta"
              :class="{ 'resource__meta--col': data.column_size < 4 }"
            >
              <li v-if="resource.level">
                <strong>Level:</strong>
                <span>{{ resource.level }}</span>
              </li>
              <li v-if="resource.pace">
                <strong>Pace:</strong>
                <span>{{ resource.pace }}</span>
              </li>
              <li v-if="resource.assessment">
                <strong>Assessment:</strong>
                <span>{{ resource.assessment }}</span>
              </li>
              <li v-if="resource.registration">
                <strong>Registration:</strong>
                <span>{{ resource.registration }}</span>
              </li>
              <li v-if="resource.confidentiality">
                <strong>Confidentiality:</strong>
                <span>{{ resource.confidentiality }}</span>
              </li>
              <li v-if="resource.maintainer">
                <strong>Maintainer:</strong>
                <span>{{ resource.maintainer }}</span>
              </li>
            </ul>
          </div>
        </div>
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<style scoped lang="scss">
.resource {
  display: flex;
  height: 100%;

  &__content {
    flex-grow: 1;
    margin: 15px;
  }

  &__link {
    margin-bottom: 15px;
  }

  &__meta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-size: 16px;

    @media (min-width: $breakpoint-sm) {
      flex-direction: row;
    }

    li {
      @media (min-width: $breakpoint-xl) {
        flex: 0 50%;
      }
    }

    &--col {
      flex-direction: column;
    }
  }
}
</style>
