<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { getPageMetadata } from '~/common/meta';
import FeaturesCTA from '~/components/next-step.vue';
import SideNavigation from '~/components/side-navigation.vue';
import FeatureOverview from '~/components/features/feature-overview.vue';
import FeatureBenefit from '~/components/features/feature-benefit.vue';
import FeatureBlockSummary from '~/components/features/feature-block-summary.vue';
import FeatureBlockHero from '~/components/features/feature-block-hero.vue';
import FeatureGetStarted from '~/components/features/feature-get-started.vue';
import FeatureValueProposition from '~/components/features/feature-value-proposition.vue';
import FeatureBlockRelated from '~/components/features/features-block-related.vue';
import SolutionsResourceCards from '~/components/solutions/resource-cards.vue';

export default Vue.extend({
  components: {
    FeaturesCTA,
    SideNavigation,
    FeatureBlockHero,
    FeatureOverview,
    FeatureBenefit,
    FeatureBlockSummary,
    FeatureGetStarted,
    FeatureValueProposition,
    FeatureBlockRelated,
    SolutionsResourceCards,
  },
  async asyncData({ $content, params }) {
    return {
      feature: await $content('features', params.slug)
        .where({ slug: { $not: { $contains: ['features-partial'] } } })
        .fetch(),
    };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).feature);
  },
  computed: {
    showFeatures() {
      const components = Object.keys(this.feature)
        .slice(1, -5)
        .reduce((result, key) => {
          // eslint-disable-next-line no-param-reassign
          result[key] = this.feature[key];
          return result;
        }, {});
      return components;
    },
  },
});
</script>

<template>
  <div>
    <component
      :is="index"
      v-for="(component, index) in showFeatures"
      :key="index"
      v-bind="component"
    >
      <slot v-if="component.component_slot_enabled">
        <component
          :is="item"
          v-for="(subcomponent, item) in component.slot_content.data"
          :key="item"
          v-bind="subcomponent"
        />
      </slot>
    </component>
    <FeaturesCTA />
  </div>
</template>
