<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <article class="container">
    <a :href="data.url" class="inner-wrapper">
      <div class="image__container">
        <img
          :src="
            data.img_url
              ? data.img_url
              : '/nuxt-images/blogimages/blogdefault.png'
          "
          alt=""
        />
      </div>
      <div class="text__container">
        <div class="tag__container">
          <img
            src="/nuxt-images/icons/icon-case-study.svg"
            aria-hidden="true"
          />
          <SlpTypography
            tag="p"
            variant="all-caps"
            class="tag slp-text-align-left"
            >Case Study</SlpTypography
          >
        </div>
        <SlpTypography
          tag="h3"
          variant="heading4"
          class="title slp-text-align-left"
          >{{ data.title }}</SlpTypography
        >
        <span class="arrow-text"
          >Read More <span class="arrow-text__arrow">&#8594;</span>
        </span>
      </div>
    </a>
  </article>
</template>

<style lang="scss" scoped>
.container {
  display: block;
  background: $color-surface-50;
  border-radius: $spacing-4;
  min-height: 350px;
  margin: $spacing-16;
  color: $color-text-300;
  cursor: pointer;
  border: 1px solid $color-surface-200;
  transition: all 0.3s ease-in-out;
  box-shadow: $shadow-surface-primary-3;

  &:hover {
    box-shadow: $shadow-surface-secondary-3;
  }
}

.image__container {
  position: relative;

  img {
    width: 100%;
    height: 195px;
    border-bottom: 1px solid $color-surface-200;
  }
}

.inner-wrapper {
  display: block;
  padding-bottom: $spacing-32;
}

.text__container {
  padding: $spacing-16 $spacing-32 0 $spacing-32;
  white-space: normal;
  color: $color-text-300;
}

.tag__container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: $spacing-16;

  .tag {
    text-transform: uppercase;
    color: $color-text-300;
  }

  img {
    max-width: 20px;
    display: block;
    margin-right: $spacing-8;
  }
}

.arrow-text {
  color: $color-text-link-100;
  font-weight: $font-weight-bold;
  font-size: $text-body-2;
  line-height: $line-height-body-2;
  padding-left: $spacing-4;

  &:hover {
    color: $color-text-link-100;

    .#{$prefix}-link-text {
      text-decoration: underline;
    }
  }

  &:active {
    color: $color-text-link-100;

    .#{$prefix}-link-text {
      text-decoration: underline;
    }
  }
  &__arrow {
    padding-left: $spacing-4;
  }
}
</style>
