<script lang="ts">
import CustomerLogos from '~/components/why/customer-logos.vue';
import Accordion from '~/components/why/accordion.vue';

export default {
  components: {
    CustomerLogos,
    Accordion,
  },
  props: {
    data: {
      required: true,
      type: Object,
    },
  },
  data() {
    return {
      isOpenIndex: 0,
    };
  },
  methods: {
    toggleController(index: number) {
      this.isOpenIndex = index;
    },
  },
};
</script>

<template>
  <section class="growth">
    <SlpContainer>
      <SlpRow>
        <SlpColumn :cols="5" class="header">
          <SlpTypography tag="h2" variant="heading2-bold">
            {{ data.header }}
          </SlpTypography>
        </SlpColumn>
        <SlpColumn :cols="7" class="content-wrapper">
          <div class="accordion-wrapper">
            <Accordion
              v-for="(item, index) in data.accordion"
              :key="item.header"
              :data="item"
              :is-open="isOpenIndex == index"
              @toggleController="toggleController(index)"
            />
          </div>
        </SlpColumn>
      </SlpRow>
      <CustomerLogos :data="data.customer_logos_block" />
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.growth {
  padding-top: $spacing-96;
  padding-bottom: 148px;
}

.slp-row {
  justify-content: space-between;
  margin-bottom: 160px;
}

.header {
  margin-bottom: $spacing-64;

  h2 {
    margin-bottom: $spacing-8;
  }
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.accordion-wrapper {
  max-width: 635px;
  width: 100%;

  @media (max-width: 1169px) {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .growth {
    padding-bottom: $spacing-64;
  }

  .slp-row {
    margin-bottom: $spacing-64;
  }

  .content-wrapper {
    width: 100%;
  }
}
</style>
